
/**登录**/
body {background:url(../image/timg.jpg) ; width:100%; height:100%;}
.account{background:#fff;box-shadow:3px 3px 10px #8e8e8e;position:absolute; top:170px; left:50%;}
.account form{ margin:0 36px;}
.account h2{ font-size:24px; color:#323232; line-height:100%; padding-top:30px; position:relative;}
.account .form{ margin-top:20px;}
.account .btn_sub{ width:100%; height:45px; text-align:center; line-height:45px; background:#ff7626; color:#fff; margin-top:32px; font-size:20px; cursor:pointer;}
.account strong{font-weight:normal;display:block; }
.account .btn_return{ display:inline-block; width:250px; margin-left:20px; background:#c0c0c0;}

.login{ width:385px; height:385px;top:50%;margin:-205px 0 0 -192px;}
.login .user-select li{ width:70px; text-align:center; margin:26px 43px 0; float:left; display:inline; font-size:16px; color:#666; padding-bottom:6px; border-bottom:2px solid #fff; cursor:pointer;}
.login .user-select li.on{ color:#ff7626; border-bottom:2px solid #ff7626;}
.login .form li{padding-left:42px;}
.login .form li .Validform_checktip{ left:52px;}
.login .form li img{ position:absolute; top:11px; left:15px; height:22px; width:20px;}
.login .remember-password{ color:#323232; height:20px; line-height:20px;}
.login .remember-password span{ width:13px; height:13px; border:1px solid #b2b2b2; float:left; display:inline; margin:3px 5px 0 0;  cursor:pointer;}




/**/
.up{
    height:45px;
    line-height:43px;
    border:1px solid #e7e7e7;
    margin-bottom: 30px;
    position: relative;
}
.up input{
    margin-left:30px;
    height:43px;
    width:76%;
    text-indent: 10px;
    border: 0px;
    line-height:100%;
}
.up-image{
    float: left;
    text-align:center;
    border:1px;
    height:22px;
    width:20px;
    margin-left:11px;

}
h2 {
    text-align:center;
}